html{
	height: 100%;
}

.login{
	width: 100%;
	max-width: 500px;
	min-width: 280px;
	background: #fcfdfd;
	padding: 40px 20px;
	margin: auto;
	border-radius: 15px;
}

.login-modal{
	position: fixed;
	background: #fff;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100%;
}