html{
	height: 100%;
}


.login{
	width: 100%;
	max-width: 500px;
	min-width: 280px;
	background: #fcfdfd;
	padding: 40px 20px;
	margin: auto;
	border-radius: 15px;
}

.login-modal{
	position: fixed;
	background: #fff;
	z-index: 2000;
	left: 0;
	top: 0;
	width: 100%;
}

.preloader{
	display: none;
	position: fixed;
	background: #fff url("../assets/jquery-ui/images/ajax-loader.gif") no-repeat center;
	z-index: 3000;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.tooltipster_round{
	width: 20px;
	height: 20px;
	display: inline-block;
	vertical-align: middle;
	margin: 0 10px 5px;
	color: #ffffff;
	background: rgba(0,0,0,0.5);
	line-height: 20px;
	font-size: 14px;
	text-align: center;
	border-radius: 50%;
	cursor: pointer;
}

.tooltipster_round:hover{
	background: rgba(0,0,0,0.95);
}

.filters{
	z-index: 10;
}

.filters__inner{
	background: #fff;
	box-shadow: 2px 2px 10px rgba(0,0,0,0.45);
	border-radius: 10px;
	max-width: 740px;
}

.header{
	background: #fcfcfc;
	box-shadow: 2px 0 10px rgba(0,0,0,0.45);
}

.filters,
.charts{
	margin-top: 40px;
}

.emj-chart{
	margin-bottom: 100px;
}

.chart__item_first-line{
	height: 390px;
}

.mb-45p{
	margin-bottom: 45px;
}

.bert-container{
	position: relative;
}

.bert-gradient{
	height: 250px;
	width: 30px;
	border-radius: 15px;
	margin-right: 15px;
	
	background: #F95654;
	
	background: linear-gradient(to top, #F95654, rgba(255, 240, 91, 1.0) ,#5BFF5E);
}

.bert-value{
	font-size: 14px;
	line-height: 24px;
	margin-bottom: 116px;
	position: absolute;
	left: 45px;
}

.bert-value:before{
	position: absolute;
	left: -17px;
	content: '-';
	font-size: 24px;
	line-height: 1em;
	color: #ccc;
}

.chart__item h3{
	position: relative;
	z-index: 2;
}