@font-face {
	font-family: "EmojiOneColor";
	src: url("../fonts/NotoColorEmoji.ttf") format("truetype");
}

html{
	height: 100%;
}

.login{
	width: 100%;
	max-width: 500px;
	min-width: 280px;
	background: #fcfdfd;
	padding: 40px 20px;
	margin: auto;
	border-radius: 15px;
}

.login-modal{
	position: fixed;
	background: #fff;
	z-index: 2000;
	left: 0;
	top: 0;
	width: 100%;
}

.preloader{
	display: none;
	position: fixed;
	background: #fff url("../assets/jquery-ui/images/ajax-loader.gif") no-repeat center;
	z-index: 3000;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.tooltipster_round{
	width: 20px;
	height: 20px;
	display: inline-block;
	vertical-align: middle;
	margin: 0 10px 5px;
	color: #ffffff;
	background: rgba(0,0,0,0.5);
	line-height: 20px;
	font-size: 14px;
	text-align: center;
	border-radius: 50%;
	cursor: pointer;
}

.tooltipster_round:hover{
	background: rgba(0,0,0,0.95);
}

.filters{
	z-index: 10;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
}

.filters__inner{
	background: #fff;
	box-shadow: 2px 2px 10px rgba(0,0,0,0.45);
	border-radius: 10px;
	max-width: 740px;
}

.header{
	background: #fcfcfc;
	box-shadow: 2px 0 10px rgba(0,0,0,0.45);
}

.filters,
.charts{
	margin-top: 40px;
}

.emj-chart{
	margin-bottom: 100px;
}

.chart__item_first-line{
	height: 390px;
}

.mb-45p{
	margin-bottom: 45px;
}

.mb-30p{
	margin-bottom: 30px;
}

.bert-container{
	position: relative;
}

.bert-gradient{
	height: 250px;
	width: 30px;
	border-radius: 15px;
	margin-right: 15px;
	
	background: #F95654;
	
	background: linear-gradient(to top, #F95654, rgba(255, 240, 91, 1.0) ,#5BFF5E);
}

.bert-value{
	left: -5px;
	width: 40px;
	height: 3px;
	background: #000;
	display: block;
	position: absolute;
	margin-bottom: 116px;
	font-size: 0;
}

/*.bert-value{*/
/*	font-size: 14px;*/
/*	line-height: 24px;*/
/*	margin-bottom: 116px;*/
/*	position: absolute;*/
/*	left: 45px;*/
/*	display: none;*/
/*}*/

/*.bert-value:before{*/
/*	position: absolute;*/
/*	left: -17px;*/
/*	content: '-';*/
/*	font-size: 24px;*/
/*	line-height: 1em;*/
/*	color: #ccc;*/
/*}*/

.chart__item h3{
	position: relative;
	z-index: 2;
}

.last-actions {
	max-width: 1000px;
	margin: 0 auto;
	transition: all 0.15s ease;
	background: url("../assets/jquery-ui/images/ajax-loader.gif") no-repeat center;
}

.last-action {
	opacity: 0.8;
	transition: all 0.2s ease;
}

.last-action-inner{
	width: 260px;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin: 0 auto;
}

.last-action_large {
	transform-origin: center;
	transform: scale(1.15);
	opacity: 1;
}

.last-action_small {
	transform-origin: center;
	transform: scale(0.95);
	opacity: 0.4;
	position: relative;
}

.last-action_left {
	transform-origin: right center;
	right: -1em;
}

.last-action_right {
	transform-origin: left center;
	left: -1em;
}

.last-action__header {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #ccc;
}

.last-action__header-emotion {
	padding: 5px 20px;
	text-align: left;
	width: 100px;
}

.last-action__header-gender {
	padding: 5px 0;
	text-align: center;
	width: 50px;
}

.last-action__header-age {
	padding: 5px 20px;
	text-align: right;
	width: 100px;
}

.last-action__flag {
	text-align: center;
	padding: 5px;
	font-family: EmojiOneColor;
	font-size: 35px;
}

.last-action__mask {
	text-align: center;
	padding: 5px;
	width: 100%;
}

.last-action__mask img {
	display: inline-block;
	min-height: 150px;
	border-radius: 50%;
}

.slick-center {
	transform-origin: center;
	transform: scale(1.15);
	opacity: 1;
}

.slick-prev:before, .slick-next:before {
	color: #ccc;
}

.last-actions .slick-track {
	padding: 40px 0;
}

.last-action__tsec {
	text-align: center;
	padding: 0 0 5px;
	font-size: 12px;
	color: #222222;
}

.auto-update {
	font-family: EmojiOneColor;
	cursor: pointer;
	position: absolute;
	padding: 0;
	margin: 6px 0 0 10px;
	border: none;
	display: inline-block;
	vertical-align: middle;
	background: transparent;
	outline: none !important;
}

.auto-update .play {
	display: none;
}

.auto-update.paused .play {
	display: block;
}

.auto-update.paused .pause {
	display: none;
}

.last-emotion-title {
	display: inline-block;
	vertical-align: middle;
}